/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  padding: 0 20px;
  color: var(--text-clr);
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.accented-shadow-text {
  color: var(--accent-heading-clr);
  font-weight: 700;
  font-size: var(--accent-heading-fs-mobile);
  line-height: 82.5%;
}

@media (min-width: 1024px) {
  .accented-shadow-text {
    font-size: var(--accent-heading-fs-desktop);
  }
}

.accented-background {
  color: var(--accent-clr-with-background);
  background-color: var(--accent-clr);
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text_bold {
  font-weight: 700;
}

.title {
  color: var(--heading-clr);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.accented-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-clr);
  position: relative;
  transition: text-shadow 0.3s ease, border 0.3s ease;
}

.accented-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--text-clr);
  transform: scaleX(0);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.accented-link:hover {
  text-shadow: 2px 2px 0 var(--accent-clr);
}

.accented-link:hover::after {
  transform: scaleX(1);
}

.accented-link:focus {
  outline: none;
  border: 1px solid var(--text-clr);
  text-shadow: 2px 2px 0 var(--accent-clr);
}

.paragraph-text {
  margin: 10px 0 20px;
  line-height: 130%;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header,
.footer {
  min-block-size: 668px;
  height: 100vh;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--rec-decoration-clr);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorative-rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-decoration-clr);
  background-color: var(--rec-decoration-clr);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone,
.decorated-zone-footer {
  position: relative;
}

@media (min-width: 768px) {
  .header,
  .footer {
    min-block-size: 668px;
    height: 100vh;
  }
}

.decorated-zone::before,
.decorated-zone-footer::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decorative-bracket-clr);
  border-right: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after,
.decorated-zone-footer::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decorative-bracket-clr);
  border-left: 1px solid var(--decorative-bracket-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.header__theme-menu {
  justify-self: end;
  margin: 5px 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  color: var(--menu-clr);
  text-transform: lowercase;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: outline;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-hover-clr);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-clr);
  pointer-events: none;
}

.header__heading {
  align-self: self-start;
  margin: 15px 0 0;
  text-shadow: 4px 4px 0 var(--accent-clr);
}

.header__text {
  justify-self: end;
  margin: 0;
  padding-right: 50px;
  max-inline-size: 364px;
}

.why {
  margin: 0px;
}

@media (min-width: 768px) {
  .why {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
  }
}

@media (min-width: 1024px) {
  .why {
    grid-template-columns: 314px 1fr;
  }
}

.what {
  margin: 0px;
}

@media (min-width: 768px) {
  .what .title {
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {
  .what .title {
    max-inline-size: 314px;
  }

  .what .articles {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap);
  }
}

.how {
  margin: 0px;
}

@media (min-width: 768px) {
  .how {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
  }
}

@media (min-width: 1024px) {
  .how {
    grid-template-columns: 314px 1fr;
  }
}

.articles__list-heading {
  margin: 0 0 20px;
}

.articles__list-title {
  font-weight: 400;
}

.articles__list-title--normal {
  font-weight: 400;
}

.gallery {
  margin: 50px 0 47px;
}

.gallery__heading {
  margin: 0;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0;
}

.gallery__img {
  inline-size: 100%;
}

@media (min-width: 768px) {
  .gallery {
    margin: 60px 0 74px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
    row-gap: 16px;
    column-gap: var(--gap);
    margin: 19px 0 0;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }

  .gallery__img {
    object-fit: cover;
    object-position: top;
    block-size: 100%;
  }
}
.footer__text {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-clr);
}
.footer {
  display: grid;
  min-block-size: 668px;
  height: 100vh;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__heading {
    margin: 2px 0 0 -10px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin: 5px 0px 0 0px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .decorative-rec-icon {
    margin: 10px 0;
  }

  .header__text {
    justify-self: end;
    margin: 0 0 11px -10px;
    padding-right: 50px;
    min-inline-size: 355px;
  }
  .why {
    margin: 40px -10px;
  }
  .why .articles,
  .what .articles {
    margin-top: 20px;
  }
  .what {
    margin: 50px -10px;
  }
  .how {
    margin: 50px -10px;
  }
  .articles__list-container {
    margin-top: 20px;
  }
  .gallery {
    margin: -1px -10px;
  }
  .footer {
    margin: 0px -10px;
  }
  .footer__text {
    margin-top: 77px;
  }
  .decorated-zone::before {
    margin: 10px -9px;
  }
  .decorated-zone-footer::before {
    margin: 48px 0;
  }
  .decorated-zone::after {
    margin: 10px -10px;
  }
  .decorated-zone-footer::after {
    margin: -26px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__heading {
    margin: 2px 0 0 -20px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin: 15px 0 0 0;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .decorative-rec-icon {
    margin: 20px 10px;
  }

  .header__text {
    margin: 0 0 21px 0;
    padding-right: 50px;
    max-inline-size: 364px;
  }
  .why {
    margin: 60px 0px;
  }
  .why .articles {
    margin-top: 0px;
  }
  .what .articles {
    margin-top: 20px;
  }
  .how {
    margin: 60px 0px;
  }
  .how .title {
    margin-top: 20px;
  }
  .articles__list-container {
    margin-top: 20px;
  }
  .gallery {
    margin: 0px 0px;
  }
  .footer {
    margin: 0px 0px;
  }
  .footer__text {
    margin-top: 105px;
  }
  .decorated-zone::before {
    margin: 20px 0;
  }
  .decorated-zone-footer::before {
    margin: 73px 0;
  }
  .decorated-zone::after {
    margin: 20px 0;
  }
  .decorated-zone-footer::after {
    margin: -35px 0;
  }
}

@media (min-width: 1024px) {
  .header__heading {
    margin: 0 20px 0 -20px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin: 20px 0;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .decorative-rec-icon {
    margin: 20px 10px;
  }

  .header__text {
    justify-self: end;
    padding: 0;
    min-inline-size: 491px;
    margin-bottom: 20px;
  }
  .why,
  .what {
    margin-top: 60px;
  }
  .how {
    margin-top: 60px;
  }
  .gallery {
    margin: 59px 0px;
  }
  .gallery__list-item {
    margin-top: -1px;
  }
  .decorated-zone::before {
    margin-top: 20px;
  }
  .decorated-zone::after {
    margin-bottom: 20px;
  }
  .decorated-zone-footer::before,
  .decorated-zone-footer::after {
    margin: 20px 0;
  }
}
