/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*Header*/

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
  min-block-size: 100vh;
}

/*Button*/

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  background: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

/*REC*/

.decorative__element {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding-right: 8px;
  color: var(--btn-color);
  text-align: center;
  text-transform: uppercase;
}

.decorative__element::after {
  content: "";
  display: block;
  border-radius: 50%;
  fill: var(--accent-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

/* frame */

.frame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
}

.frame::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
}

/*header*/

.header__title {
  margin-left: -20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--sub-text-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  max-inline-size: 491px;
  max-block-size: 71px;
}

/*All title*/

.question__section-title {
  color: var(--btn-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px; /* 130% */
}

/*text all*/

.question__section-answer-text {
  color: var(--text-color);
  font-size: var(--font-size);
}

/*links*/

.question__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {
  border: 1px solid var(--text-color);
}

/*first section*/

.question__section__one {
  display: grid;
  grid-template-columns: 34% 66%;
  margin: 0 20px;
  padding-block-start: 60px;
}

.question__section-answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__section-answer p:first-of-type {
  padding-block-end: 10px;
}

/*second section*/

.question__section-two {
  margin: 0 20px;
  padding-block-start: 80px;
  padding-block-end: 80px;
}

.question__section-answer-two-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}
.question__section-title-two {
  max-inline-size: 315px;
}

.question__section-answer-title-two {
  margin-block-end: 10px;
}

/*section fhree*/

.question__section__fhree {
  display: grid;
  grid-template-columns: 34% 66%;
  margin: 0 20px;
  padding-block-end: 80px;
}

.question__section-answer-subtitle {
  font-weight: 400;
}

.question__section-answer-fhree {
  display: grid;
  gap: 20px;
}

.question__section-answer-text-fhree {
  padding-block-start: 10px;
}

/*section with image*/

.question__section__image {
  padding-block-end: 60px;
}

.question__section-title-image {
  margin: 0 20px 20px 20px;
}

.question__section__image-container {
  display: grid;
  grid-template-areas: inherit;
  gap: 20px;
  margin: 0 20px;
}

.question__section__image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}

/*footer*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/*768px*/

@media (max-width: 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .question__section__one {
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end: 20px;
  }

  .question__section-answer-two-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .question__section-title-two {
    max-inline-size: 236px;
  }

  .question__section__fhree {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

/*375px*/

@media (max-width: 560px) {
  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .question__section__one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 10px;
    padding: 40px 0 0 0;
  }

  .question__section-two {
    margin: 0 10px;
    padding-inline-end: 0;
    padding-block-start: 50px;
    padding-block-end: 50px;
  }

  .question__section-title-two {
    min-inline-size: 355px;
  }

  .question__section-answer-two-container {
    display: flex;
    flex-direction: column;
  }

  .question__section__fhree {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 10px;
    padding-block-end: 50px;
  }

  .question__section__image {
    padding: 0 0 40px 0;
  }

  .question__section-title-image {
    margin: 0 10px 10px 10px;
  }

  .question__section__image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px;
  }

  .frame::after {
    margin: 10px;
    block-size: 25px;
  }
}
